<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body ng-app="conflictApp">


<div class="container-fluid" style="max-width:1000px;" ng-view></div>


<script type="text/javascript" src="/bower_components/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-contenteditable/angular-contenteditable.js"></script>


<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/services/product.js"></script>
<script type="text/javascript" src="/scripts/controllers/product.all.js"></script>
<script type="text/javascript" src="/scripts/controllers/product.edit.js"></script>

</body>
</html>